html,
body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}
header#loanmeet-header,
section#banner-section,
section#features-section,
section#invest-with-us-section,
section#newsfeeds-section,
section#copyright-and-disclaimer-section,
footer#loanmeet-footer {
    background-color: rgba(217, 225, 232, 0.19);
}
#product-section h1,
#features-section h1,
#product-video-section h1,
#invest-with-us-section h1,
#testimonial-section h1,
#testimonial-section-singleItem h1,
#newsfeeds-section h1 {
    font-size: 36px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    letter-spacing: -1px;
    text-align: center;
    color: #b5c8d9;
    margin-bottom: 1.2em;
}
#product-section h1:after,
#features-section h1:after,
#product-video-section h1:after,
#invest-with-us-section h1:after,
#testimonial-section h1:after,
#testimonial-section-singleItem h1:after,
#newsfeeds-section h1:after {
    content: ' ';
    display: block;
    border: 1px solid #2b90d9;
    width: 6%;
    margin: 0 auto;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 8px;
    color: #333;
    text-align: center;
    position: relative;
}
input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position: absolute;
    right: 0;
    font-family: monospace;
    line-height:
}
input[type=number]::-webkit-inner-spin-button:before {
    top: 0px;
}
input[type=number]::-webkit-inner-spin-button:after {
    bottom: 0px;
    -webkit-transform: rotate(180deg);
}
/*-------------------------------*/
/*   Header   */
/*-------------------------------*/

header {
    padding: 1em 0 2em;
}
header .logo_block,
header .nav_block {
    display: inline-block;
    vertical-align: middle;
}
header .logo_block .logo img {
    margin: 0.6em 0;
}
header .nav_block ul {
    margin-bottom: 0;
    float: right;
}
header .nav_block ul li {
    display: inline-block;
    margin: 0.15em 1em;
}
header .nav_block ul li.sign_up_btn {
    margin-right: 0;
}
header .nav_block ul li.sign_up_btn a {
    color: #fff;
    background-color: #4291d9;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 2px;
    padding: 0.5em 2em;
    display: inline-block;
    border-radius: 90px;
}
header .nav_block ul li a {
    /*color: #838383;
  letter-spacing: 1px;*/
    
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: left;
    text-transform: uppercase;
    color: #838383;
}
header .nav_block ul li a:hover,
header .nav_block ul li a:visited {
    text-decoration: none;
}
/*-------------------------------*/
/*   banner Block   */
/*-------------------------------*/

#banner-section {
    padding: 2em 0 3em;
}
#banner-section .banner_textual_block {
    margin-bottom: 0;
}
/*.vertical_center {
  
  min-height: 100%;
  min-height: 100vh;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 

  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;
  
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
}*/

#banner-section .banner_textual_inner_block {
    margin-top: 12em;
}
#banner-section .banner_textual_block h1 {
    margin-bottom: 0.3em;
    font-weight: 300;
    font-size: 40px;
}
#banner-section .banner_textual_block p {
    margin-bottom: 2em;
    font-size: 16px;
    color: #9baec8;
}
#banner-section .banner_btn_block .apply_btn,
#banner-section .banner_btn_block .know_more_btn {
    margin-right: 1em;
    color: #ffffff;
    font-weight: bold;
    border-radius: 100px;
    padding: 0.7em 2.5em;
    transition: all .3s linear;
    width: 165px;
    text-align: center;
    word-spacing: 1px;
    /*-webkit-transition: all 300ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 300ms ease-in;
  -ms-transform: scale(1);   
  -moz-transition: all 300ms ease-in;
  -moz-transform: scale(1);
  transition: all 300ms ease-in;
  transform: scale(1);*/
}
#banner-section .banner_btn_block .apply_btn:hover {
    box-shadow: 0 2px 0 #2b90d9;
    /*border: 1px solid #2b90d9;*/
    
    transform: translateY(2px);
}
#banner-section .banner_btn_block .know_more_btn:hover {
    box-shadow: 0 3px 0 #333;
    /*border: 1px solid #2b90d9;*/
    /*color: #2b90d9;*/
    /*background-color: #ffffff;*/
    
    transform: translateY(2px);
}
/*#banner-section .banner_btn_block .apply_btn:hover,
#banner-section .banner_btn_block .know_more_btn:hover{
  -webkit-transition: all 300ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 300ms ease-in;
  -ms-transform: scale(1.1);   
  -moz-transition: all 300ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 300ms ease-in;
  transform: scale(1.1);
}*/

#banner-section .banner_btn_block .apply_btn {
    background-color: #fff;
    border: 1px solid #2b90d9;
    color: #4291d9;
}
#banner-section .banner_btn_block .know_more_btn {
    background-color: #2b90d9;
}
/*-------------------------------*/
/*   Invest with us Block   */
/*-------------------------------*/

#invest-with-us-section .invest_with_us_btn {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 100px;
    padding: 1em 4em;
    background-color: #2b90d9;
    margin: 2em 0;
}
#invest-with-us-section .indv_reason_block {
    clear: both;
    overflow: hidden;
    text-align: center;
}
#invest-with-us-section .indv_reason_block h4 {
    /*font-size: 16px;
  margin-bottom: 0.5em;
  color: #282c37;*/
    
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.58;
    text-align: center;
    color: #282c37;
    text-transform: capitalize;
}
#invest-with-us-section .indv_reason_block p {
    /*height: 60px;*/
    /*color: #9baec8;
  padding: 0 1em;*/
    
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.54;
    text-align: center;
    color: #9baec8;
}
/*#invest-with-us-section .indv_prod a span.icon{
  display: inline-block;
  margin-left: 2em;
  font-size: 12px;
  color: rgba(41, 127, 202, 0.61);
  padding-top: 3px;
}*/

#invest-with-us-section{
    padding-bottom: 0.5em;
}
/*-------------------------------*/
/*   Footer   */
/*-------------------------------*/

footer .container {
    padding: 2em 0 4em;
    border-bottom: 2px solid #d9e1e8;
}
footer .footer_textual_block h5 {
    /*font-size: 16px;*/
    
    font-family: Roboto;
    font-size: 19px;
    font-weight: 500;
    line-height: 0.84;
    text-align: left;
    color: #8e8e8e;
    margin-bottom: 1.2em;
}
footer .footer_textual_block p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1;
    text-align: left;
    color: #8e8e8e;
}
footer .footer_download_link_block p,
footer .footer_download_link_block img {
    display: inline-block;
    , vertical-align: middle;
}
footer .footer_download_link_block img {
    margin-left: 0.3em;
}
/*-------------------------------*/
/*copyright and disclaimer block*/
/*-------------------------------*/

#copyright-and-disclaimer-section .copyright_and_disclaimer_block p {
    /*margin-bottom: .25em;*/
    
    text-align: center;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 12px;
    /*line-height: 1.56;*/
    
    color: #8e8e8e;
    margin-bottom: 0px;
}
#copyright-and-disclaimer-section .copyright_and_disclaimer_block {
    padding: 1em 0 4em;
}
/*-------------------------------*/
/*   product Block   */
/*-------------------------------*/

#product-section .indv_prod {
    margin-bottom: 4em;
}
#product-section .indv_prod h4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.58;
    text-align: center;
    color: #282c37;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
#product-section .indv_prod p {
    height: 35px;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.56;
    text-align: center;
    color: #9baec8;
}
#product-section .indv_prod a span.icon {
    display: inline-block;
    margin-left: 2em;
    font-size: 10px;
    opacity: 0.8;
    color: #297fca;
}
#product-section .indv_prod a:hover {
    text-decoration: none;
}

/*-------------------------------*/
/*   Features Block   */
/*-------------------------------*/
#features-section{
    padding-bottom: 1em;
}

.features_text_block {
    padding: 0px;
}
#features-section .features_img_block {
    background: url(features_bg.png) no-repeat center center;
    background-size: contain;
    height: 320px;
    margin-top: 4em;
}
#features-section .features_img_block img {
    margin: 0 auto;
}
#features-section .num_indicator,
#features-section .indv_feature_text {
    display: inline-block;
    vertical-align: middle;
}
#features-section .indv_feature_text {
    padding: 0 0.5em;
}
#features-section .num_indicator span {} 
#features-section .indv_feature_block {
    margin-bottom: 2em;
    padding: 0 1.5em 0em;
    margin-bottom: 1em;
    border-radius: 6px;

    box-shadow: 0 0 0 0 transparent;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: transparent;
    /*background-color: #fff;*/
    
    transition: background .7s ease-in-out;
    -moz-transition: background .7s ease-in-out;
    -webkit-transition: background .7s ease-in-out;
}
#features-section .num_indicator span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    color: #2b90d9;
    border: 2px solid #e4f1fd;
    border-radius: 30px;
    margin-right: 1em;
}
#features-section .indv_feature_block.active {
    box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    background-color: #fff;

    transition: background .7s ease-in-out;
    -moz-transition: background .7s ease-in-out;
    -webkit-transition: background .7s ease-in-out;
}
#features-section .indv_feature_block {} #features-section .indv_feature_text h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #3f3f3f;
    margin-bottom: 6px;
    animation: fadein .5s;
    -moz-animation: fadein .5s;
    /* Firefox */
    
    -webkit-animation: fadein .5s;
    /* Safari and Chrome */
    
    -o-animation: fadein .5s;
    /* Opera */
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#features-section .indv_feature_text p.small {
    opacity: 0.8;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.56;
    text-align: left;
    color: #9baec8;
    margin-bottom: 0.9em;
    animation: fadein .25s;
    -moz-animation: fadein .25s;
    /* Firefox */
    
    -webkit-animation: fadein .25s;
    /* Safari and Chrome */
    
    -o-animation: fadein .25s;
    /* Opera */
}
/*-------------------------------*/
/*   product-video Block   */
/*-------------------------------*/

#product-video-section {
    padding-bottom: 2em;
}
#product-video-section h1 {
    margin-bottom: 1.2em;
}
#product-video-section .product_video_textual_block {
    padding-left: 3em;
    margin-top: 1.2em;
}
#product-video-section .app_flow_steps_block {
    position: relative;
}
#product-video-section .app_flow_indicator,
#product-video-section .app_flow_step_text {
    display: inline-block;
    vertical-align: middle;
}
#product-video-section .app_flow_indicator {
    position: relative;
    margin-right: 1em;
    width: 25px;
    height: 25px;
    border: 3px solid #979797;
    border-radius: 25px;
}
#product-video-section .line {
    width: 3px;
    height: 52px;
    background-color: #979797;
    position: absolute;
}
#product-video-section .line#line1 {
    top: 46px;
    left: 11px;
}
#product-video-section .line#line2 {
    top: 118px;
    left: 11px;
}
#product-video-section .line#line3 {
    top: 190px;
    left: 11px;
}
#product-video-section .app_flow_step_text {} #product-video-section .app_flow_indicator span {
    display: inline-block;
    width: 12.5px;
    height: 12.5px;
    margin: 0 auto;
    background-color: #b5c8d9;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#product-video-section .app_flow_steps_block .app_flow_step_text {
    /*margin-bottom: 2em;*/
}
#product-video-section .app_flow_steps_block h5 {
    /*font-size: 16px;
  margin-bottom: 0.5em;
  color: #282c37;*/
    
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    /* line-height: 1.58; */
    
    text-align: left;
    color: #282c37;
    margin-bottom: 6px;
}
#product-video-section .app_flow_steps_block p.small {
    /*color: #9baec8;*/
    
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    /* line-height: 1.92; */
    
    text-align: left;
    color: #9baec8;
}
#product-video-section .video_block {
    background: url(http://emcconnected.com/wp-content/uploads/revslider/web-product-light/macbookpro.png) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 330px;
}
#product-video-section .video_block iframe {
    position: absolute;
    top: 32px;
    left: 162px;
}

#product-video-section{
    padding-bottom: 1.5em;
}
/*-------------------------------*/
/*   Testimonial Block   */
/*-------------------------------*/

#testimonial-section h1 {
    margin-bottom: 0.5em;
}
#testimonial-section p.testimonial_header_text {
    /*color: #b8b8b8;
  font-size: 16px;
  word-spacing: 1px;
  letter-spacing: 1px;
  margin-bottom: 2em;*/
    
    font-family: Roboto;
    font-size: 20px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #b8b8b8;
    margin-bottom: 2em;
}
#testimonial-section .testimonial_item_text_block {
    padding: 2em 0 1em;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.06);
}
#testimonial-section .testimonial_item h5 {
    /*color: #82a3bf;
  word-spacing: 1px;
  margin-bottom: 0.1em;*/
    
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #82a3bf;
}
#testimonial-section .testimonial_item h5:after {
    content: ' ';
    display: block;
    border: 1px solid #2b90d9;
    width: 14%;
    margin: 0.2em auto 1em;
}
#testimonial-section .testimonial_item p {
    /*color: #9b9b9b;
  line-height: 23px;
  font-size: 15px;*/
    
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.44;
    text-align: center;
    color: #9b9b9b;
}
#testimonial-section .quote {
    color: rgba(0, 0, 0, .1);
    text-align: center;
}
#testimonial-section .testimonial_item {
    position: relative;
    width: 26%;
  display: inline-block;
  vertical-align: middle;
    
    margin: 3em 2.5em 1.5em;
}
#testimonial-section .testimonial_item:first-child {
    margin-left: 0;
}
#testimonial-section .testimonial_item:last-child {
    margin-right: 0;
}
#loanmeet-testimonial.carousel {
    padding-bottom: 60px;
    clear: both;
    overflow: hidden;
}
#loanmeet-testimonial.carousel .carousel-inner .item {
    opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#loanmeet-testimonial.carousel .carousel-inner .active {
    opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#loanmeet-testimonial.carousel .carousel-indicators {
    /*bottom: 10px;*/
}
#loanmeet-testimonial.carousel .carousel-indicators > li {
    background-color: #b4c6d3;
    border: none;
}
#loanmeet-testimonial blockquote {
    text-align: center;
    border: none;
    margin-bottom: 0;
    padding-top: 6px;
    margin-bottom: 0.7em;
}
#loanmeet-testimonial .profile-circle {
    top: -41px;
    position: absolute;
    background: url(https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/7/005/03d/22e/245b071.jpg) no-repeat center center;
    background-size: contain;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 70px;
    left: 0px;
    right: 0px;
}
#testimonial-section .carousel-inner .active.left {
    left: -33%;
}
#testimonial-section .carousel-inner .next {
    left: 33%;
}
#testimonial-section .carousel-inner .prev {
    left: -33%;
}
#testimonial-section .carousel-control.left,
#testimonial-section .carousel-control.right {
    background-image: none;
}
#testimonial-section .item:not(.prev) {
    visibility: visible;
}
#testimonial-section .item.right:not(.prev) {
    visibility: hidden;
}
#testimonial-section .rightest {
    visibility: visible;
}















/*-------------------------------*/
/*   Testimonial Block   */
/*-------------------------------*/

#testimonial-section-singleItem h1 {
    margin-bottom: 0.5em;
}
#testimonial-section-singleItem p.testimonial_header_text {
    /*color: #b8b8b8;
  font-size: 16px;
  word-spacing: 1px;
  letter-spacing: 1px;
  margin-bottom: 2em;*/
    
    font-family: Roboto;
    font-size: 20px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #b8b8b8;
    margin-bottom: 2em;
}
#testimonial-section-singleItem .testimonial_item_text_block {
    padding: 2em 0 0.5em;
    /*border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.06);*/
}

#testimonial-section-singleItem .testimonial_item h5 {
    /*color: #82a3bf;
  word-spacing: 1px;
  margin-bottom: 0.1em;*/
    
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #82a3bf;
}
#testimonial-section-singleItem .testimonial_item h5:after {
    content: ' ';
    display: block;
    border: 1px solid #2b90d9;
    width: 6%;
    margin: 0.2em auto 1em;
}
#testimonial-section-singleItem .testimonial_item p {
    /*color: #9b9b9b;
  line-height: 23px;
  font-size: 15px;*/
    
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.44;
    text-align: center;
    color: #9b9b9b;
}
#testimonial-section-singleItem .quote {
    color: rgba(0, 0, 0, .1);
    text-align: center;
}
#testimonial-section-singleItem .testimonial_item {
position: relative;
/*width: 26%;*/
/*display: inline-block;*/
/*vertical-align: middle;*/
margin: 3.5em 2.5em 6em;
box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.06);
border: 1px solid rgba(0, 0, 0, 0.06);
border-radius: 12px;
cursor: pointer;

/*-webkit-transition: all 1000ms ease-in;
-webkit-transform: scale(1);
-ms-transition: all 1000ms ease-in;
-ms-transform: scale(1);   
-moz-transition: all 1000ms ease-in;
-moz-transform: scale(1);
transition: all 1000ms ease-in;
transform: scale(1);*/
}

#testimonial-section-singleItem .testimonial_item:hover{
    /*box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 12px;*/

    /*-webkit-transition: all 1000ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 1000ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 1000ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 1000ms ease-in;
    transform: scale(1.1);*/

    /*cursor: pointer;*/
    
}
#testimonial-section-singleItem .testimonial_item:first-child {
    margin-left: 0;
}
#testimonial-section-singleItem .testimonial_item:last-child {
    margin-right: 0;
}
#loanmeet-testimonial-singleItem.carousel {
    padding-bottom: 2em;
    clear: both;
    overflow: hidden;
}
#loanmeet-testimonial-singleItem.carousel .carousel-inner .item {
    /*opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;*/

    opacity: 0;
    -webkit-transition: all 4000ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 4000ms ease-in;
    -ms-transform: scale(1);   
    -moz-transition: all 4000ms ease-in;
    -moz-transform: scale(1);
    transition: all 4000ms ease-in;
    transform: scale(1);
}
#loanmeet-testimonial-singleItem.carousel .carousel-inner .active {
    /*opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;*/



    opacity: 1;
    -webkit-transition: all 4000ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 4000ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 4000ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 4000ms ease-in;
    transform: scale(1.2);
}
#loanmeet-testimonial-singleItem.carousel .carousel-indicators {
    /*bottom: 10px;*/
}
#loanmeet-testimonial-singleItem.carousel .carousel-indicators > li {
    background-color: #b4c6d3;
    border: none;
}
#loanmeet-testimonial-singleItem blockquote {
    text-align: center;
    border: none;
    margin-bottom: 0;
    /*padding-top: 6px;*/
    margin-bottom: 0em;
}
#loanmeet-testimonial-singleItem .profile-circle img {
    top: -41px;
    position: absolute;
    /*background: url(https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/7/005/03d/22e/245b071.jpg) no-repeat center center;
    background-size: contain;*/
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 70px;
    left: 0px;
    right: 0px;
}

#loanmeet-testimonial-singleItem .rating_block{
    padding-bottom: 1.5em;
}

#loanmeet-testimonial-singleItem .rating_block ul li {
    display: inline-block;
    margin-right: 0.4em;
    /*color: #ffd500;*/
    color: #ea3e0f;
}

#loanmeet-testimonial-singleItem .rating_block ul li i{
    font-size: 1.5em;
}






































































/*-------------------------------*/
/*   News Feed Block   */
/*-------------------------------*/

#newsfeeds-section h1 {
    margin-bottom: 0;
}
#newsfeeds-carousel .carousel-inner {
    margin: 2em 0 2.5em;
}
.invd_newsfeed_item img {
    margin: 0 auto;
}
.invd_newsfeed_item.the_economics_times {
    margin-top: 2em;
}
.invd_newsfeed_item.knows_startups {
    margin-top: 1.8em
}
.invd_newsfeed_item.p2p_banking {
    margin-top: 2.4em;
}
/*-------------------------------*/
/*   Download Block   */
/*-------------------------------*/

#download_app_section {
    margin-top: 6em;
}
#download_app_section .download_textual_block {
    margin-top: 2em;
    padding-left: 3em;
}
#download_app_section .download_textual_block h1 {
    /*font-weight: 300;*/
    
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.21;
    letter-spacing: -1.8px;
    text-align: left;
    color: #282c37;
}
#download_app_section .download_textual_block ul {
    margin-bottom: 0;
}
#download_app_section .download_textual_block ul li {
    display: inline-block;
    margin-right: 0.7em;
    color: #ffd500;
}
#download_app_section .rating_textual_block h3,
#download_app_section .rating_textual_block p {
    display: inline-block;
}
#download_app_section .rating_textual_block h3 {
    /*margin-top: .7em;
  margin-right: 0.5em;
  margin-bottom: 0.2em;*/
    
    font-size: 36px;
    color: #282c37;
}
#download_app_section .rating_textual_block p {
    /*color: #9baec8;*/
    
    margin-bottom: 0;
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #9baec8;
}
#download_app_section .rating_textual_block p.rating_txt {
    display: block;
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #9baec8;
}
#download_app_section .download_app_form {
    margin: 1.5em 0 3em;
}
#download_app_section .download_app_form input::-webkit-input-placeholder {
    color: #2b90d9 !important;
}
#download_app_section .download_app_form input:-moz-placeholder {
    /* Firefox 18- */
    
    color: #2b90d9 !important;
}
#download_app_section .download_app_form input::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #2b90d9 !important;
}
#download_app_section .download_app_form input:-ms-input-placeholder {
    color: #2b90d9 !important;
}
#download_app_section .download_app_form input {
    height: 42px;
    line-height: 40px;
    border-radius: 0;
    background-color: transparent;
    transition: none;
    padding-right: 0px;
    padding-top: 10px;
    width: 200px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    padding-bottom: 10px;
    border: 1px solid #4392d9;
    border-right: none;
}
#download_app_section .download_app_form button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 10px 24px 10px 22px;
    color: #ffffff;
    background-color: #4291d9;
    margin-left: -4px;
    border: 1px solid #4291d9;
}
#download_app_section .download_img_block img {
    margin: 0 auto;
}