/* Portrait tablets and medium desktops */
@media only screen and (max-width : 1200px) {
    #banner-section .banner_textual_block h1 {
        font-size: 34px;
    }
    #product-section .indv_prod h4,
    .lm_pro_header_content p,
    .lm_sub_header{
        font-size: 16px
    }
    #product-section .indv_prod p,
    .lm_sub_header_conten{
        font-size: 14px
    }
    #features-section .indv_feature_block{
        padding: 0;
    }
    #features-section .num_indicator{
        width: 7%;
    }
    #features-section .indv_feature_text{
        width: 92%;
        padding: 0 0em 0 1em;
    }
    #features-section .indv_feature_text h5{
        font-size: 18px
    }
    #features-section .indv_feature_text p.small{
        font-size: 15px;
    }
    #product-video-section .video_block iframe {
        width: 297.5px;
        height: 206px;
        position: absolute;
        top: 54px;
        left: 93px;
    }
    #testimonial-section .testimonial_item {
        width: 24%;
        margin: 3em 2em 1.5em
    }

    /*products section style*/

    .eligitbility_text_block{
        margin-top: 4.5em;
    }

    .eligitbility_text_block h4{
        font-size: 20px;
    }
    .eligitbility_img_block img, .doc_req_img_blk img{
        margin-top: 0.9em;
    }
    .lm_doc_req_blk {
        margin-top: 0;
    }
}

@media only screen and (max-width : 1024px){
    #banner-section .banner_textual_inner_block {
        margin-top: 13em;
    }
    #banner-section .banner_textual_block h1 {
        font-size: 30px;
    }
    #product-video-section .video_block iframe {
        width: 297.5px;
        height: 200px;
        position: absolute;
        top: 59px;
        left: 93px;
    }
}

@media only screen and (max-width : 992px) {
    #product-section h1, 
    #features-section h1, 
    #product-video-section h1, 
    #invest-with-us-section h1, 
    #testimonial-section h1, 
    #testimonial-section-singleItem h1, 
    #newsfeeds-section h1, #cashCreditLineContentSection h1, 
    #cashCreditLineHIWSection h1, 
    #cashCreditLineFeaturesSection h1, 
    #cashCreditLineBenefitsSection h1, 
    #cashCreditLineEligibilitySection h1, 
    #cashCreditLineDocsRequiredSection h1, 
    #cashCreditLineFormSection h1,
    #about-us-section h1,
    #lm-team-section h1 {
        font-size: 28px;
        margin-bottom: 1em;
    }
    #banner-section .banner_textual_inner_block {
        margin-top: 6.5em;
    }
    #banner-section .banner_textual_block h1 {
        font-size: 28px;
    }
    #banner-section .banner_textual_block p {
        font-size: 14px;
    }
    #banner-section .banner_btn_block .apply_btn, 
    #banner-section .banner_btn_block .know_more_btn, 
    #cashCreditLineFormSection .form_btn_block .apply_btn, 
    #cashCreditLineFormSection .form_btn_block .reach_us_btn{
        padding: 0.7em 2em;
        width: 154px;
    }
    #features-section .indv_feature_block {
        padding: 0 0.6em;
    }
    
    #product-video-section .product_video_textual_block {
        padding-left: 3.5em;
        margin-top: 2.5em;
    }

    #product-video-section .video_block iframe {
        width: 226px;
        height: 156px;
        position: absolute;
        top: 80px;
        left: 74px;
    }
    #product-video-section .app_flow_steps_block h5,
    #features-section .indv_feature_text h5,
    #invest-with-us-section .indv_reason_block h4{
        font-size: 14px;
    }
    #product-video-section .app_flow_steps_block p.small,
    #features-section .indv_feature_text p.small,
    #invest-with-us-section .indv_reason_block p{
        font-size: 12px;
    }
    #product-video-section .line {
        height: 37px;
    }
    #product-video-section .line#line1 {
        top: 40px;
    }
    #product-video-section .line#line2 {
        top: 98px;
    }
    #product-video-section .line#line3 {
        top: 156px;
    }
    #invest-with-us-section .invest_with_us_btn{
        padding: 0.7em 4em;
    }

    #testimonial-section .testimonial_item{
        width: 90%;
        height: 260px;
        margin: 3em auto 1.5em !important;
        display: block;
    }
    #loanmeet-testimonial blockquote{
        height: 100px;
    }
    #download_app_section .download_textual_block h1{
        font-size: 42px;
    }
    #download_app_section .download_img_block img {
        margin: 0 auto;
        width: 100%;
    }
    #download_app_section .download_textual_block {
        margin-top: 0.6em;
    }
    #download_app_section .download_app_form {
        margin: 1.5em 0 1em;
    }
    /*#invest-with-us-section .indv_reason img{
        width: 122px;
        height: 120px;
    }*/


    /*products section style*/
    .lm_pro_header_content p{
        padding: 0 1em;
    }

    .eligitbility_text_block h4 {
        font-size: 16px;
        font-weight: bold;
    }

    .eligitbility_img_block img, .doc_req_img_blk img{
        width: 60%;
        margin: 0 auto;
    }
    .eligitbility_img_block i.fa.fa-user {
        top: 13px;
        left: 128px;
    }
    .eligitbility_img_block i.fa.fa-check {
        top: 76px;
        left: 200px;
    }

    .doc_req_img_blk img.doc_upload_bg {
        left: 110px;
    }

    .loanmneet_cb i{
        font-size: 2em;
    }

    .loanmneet_cb_txt{
        font-size: 1em;
    }

    .lm_doc_req_blk {
        margin-top: 1.5em;
    }

    .indv_checkbox_block {
        margin-bottom: 1em;
    }

    #cashCreditLineDocsRequiredSection h1{
        margin-bottom: 1.5em;
    }

    .eligitbility_img_block i.fa.fa-user {
        left: 142px;
        font-size: 13em;
    }

    .eligitbility_img_block i.fa.fa-check {
        top: 82px;
        left: 232px;
    }

    .eligitbility_text_block {
        margin-top: 2em;
        text-align: center;
    }

    .doc_req_img_blk img.doc_upload_bg {
        left: 120px;
        top: 34px;
    }

    .lm_doc_req_blk {
        margin-top: 2em;
        padding: 0 3em;
    }

    #privacy-section p{
        /*padding: 0 1em;*/
        line-height: 24px;
    }

    .emi_calculator_block,
    .borrower_loan_form_block,
    .investor_form_block {
        border: none;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(204, 204, 204);
        margin-top: 1.5em;
        margin-bottom: 2em;
        padding: 0;
        background-color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 0px;
        border-top: none;
    }

    .values_block {
        margin: 0em auto;
    }

    .values_text_block {
        padding-right: 1em;
        text-align: justify;
        padding-bottom: 2em;
    }

    .mission_block, .vision_block {
        padding: 0 2em;
        text-align: justify;
    }

    .mission_block h3, .vision_block h3{
        text-align: center;
    }

    .mission_block a{
        margin: 0 auto;
        display: block;
        width: 63%;
    }

    .mission_block a button{
        margin: 0.5em auto 0;
    }

    #team_block p {
        padding: 0 0em 2em;
    }

    #lm-team-section {
        padding-bottom: 0em;
    }

    #team_block p.co_founders{
        padding-bottom: 0em;
    }

    /*#about-us-section h1,
    #lm-team-section h1{
        margin-bottom: 1em;
    }*/

    #about-us-section {
        margin: 0em auto 2em;
    }

    #mission-n-vision-section {
        padding: 2em 0;
    }

    .mission_block a {        
        width: 54%;
    }

    .mission_btn_block .apply_btn {
        margin: 0.5em auto 3em;
    }

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {
    #product-section h1, 
    #features-section h1, 
    #product-video-section h1, 
    #invest-with-us-section h1, 
    #testimonial-section h1, 
    #testimonial-section-singleItem h1, 
    #newsfeeds-section h1, #cashCreditLineContentSection h1, 
    #cashCreditLineHIWSection h1, 
    #cashCreditLineFeaturesSection h1, 
    #cashCreditLineBenefitsSection h1, 
    #cashCreditLineEligibilitySection h1, 
    #cashCreditLineDocsRequiredSection h1, 
    #cashCreditLineFormSection h1 {
        font-size: 24px;
        margin-bottom: 1em;
    }
    #banner-section .banner_textual_inner_block {
        margin-top: 4em;
        text-align: center;
    }
    #banner-section .banner_textual_block h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    #banner-section .banner_textual_block p {
        font-size: 14px;
    }
    #banner-section .banner_btn_block .know_more_btn, 
    #cashCreditLineFormSection .form_btn_block .reach_us_btn{
        margin-right: 0;
    }

    #product-section .indv_prod {
        margin-bottom: 2em;
    }

    #product-video-section .app_flow_steps_block p.small, 
    #features-section .indv_feature_text p.small, 
    #invest-with-us-section .indv_reason_block p {
        font-size: 14px;
    }

        #product-video-section .product_video_image_block.visible-xs iframe.small_src {
            width: 376px;
            height: 220px;
            position: absolute;
            top: 0px;
            left: 16px;
        }

    /*#product-video-section .product_video_textual_block {
        padding-left: 1.5em;
        margin-top: 18em;
    }

    #newsfeeds-carousel .carousel-inner{
        margin: 2em 0 1.5em;
        height: 148px;
    }
    #download_app_section {
        margin-top: 0em;
    }
    #download_app_section .download_textual_block {
        margin-top: 0em;
        text-align: center;
        padding-left: 1em;
    }
    #download_app_section .download_textual_block h1,
    #download_app_section .download_textual_block .rating_block,
    #download_app_section .download_textual_block .rating_textual_block,
    #download_app_section .download_textual_block .rating_textual_block p.rating_txt{
        text-align: center;
    }
    #download_app_section .download_app_form {
        margin: 1.5em 0 3em;
    }

    #download_app_section .download_app_form input{
        width: 180px;
        display: inline-block;
        height: 41.5px;
    }

    #download_app_section .download_img_block img.playstore_logo{
        margin: 4em auto;
    }

    #copyright-and-disclaimer-section .copyright_and_disclaimer_block {
        padding: 1em 1em 4em;
    }

    #copyright-and-disclaimer-section .copyright_and_disclaimer_block p{
        font-size: 10px;
    }

    #copyright-and-disclaimer-section .copyright_and_disclaimer_block p.dis{
        margin-top: 1em;
    }
    #download_app_section .download_textual_block h1 {
        font-size: 38px;
    }
    #testimonial-section p.testimonial_header_text {
        font-size: 15px;
    }
    footer .footer_textual_block h5 {
        font-size: 14px;
    }
    footer .footer_textual_block p{
        font-size: 10px;
    }
    footer .container {
        padding: 2em 0 2em;
    }*/

    #features-section .num_indicator {
        width: 12%;
    }

    #features-section .indv_feature_text {
        width: 86%;
        padding: 0 0em 0 1em;
    }

    #product-video-section .product_video_textual_block {
        padding-left: 1em;
        margin-top: 18em;
    }

    #product-video-section .app_flow_indicator {
        width: 26px;
        height: 26px;
    }

    #product-video-section .app_flow_steps_block h5, 
    #features-section .indv_feature_text h5, 
    #invest-with-us-section .indv_reason_block h4 {
        font-size: 16px;
    }

    #product-video-section .app_flow_steps_block p.small, 
    #features-section .indv_feature_text p.small, 
    #invest-with-us-section .indv_reason_block p {
        font-size: 14px;
    }

    #product-video-section .line {
        height: 42px;
    }

    #product-video-section #line1.line {
        top: 43px;
        left: 11.5px;
    }

    #product-video-section #line2.line {
        top: 107px;
        left: 11.5px;
    }

    #product-video-section #line3.line {
        top: 170px;
        left: 11.5px;
    }

    #testimonial-section p.testimonial_header_text {
        font-size: 16px;
        padding: 0 1em;
    }

    #testimonial-section .testimonial_item {
        width: 80%;    
    }

    #newsfeeds-carousel .carousel-inner{
        margin: 2em 0 1.5em;
        height: 148px;
    }

    #testimonial-section p.testimonial_header_text {
        font-size: 16px;
        padding: 0 1em;
    }

    #testimonial-section .testimonial_item {
        width: 80%;    
    }

    #download_app_section .download_textual_block h1 {
        font-size: 32px;
    }

    #download_app_section .rating_textual_block h3 {
        font-size: 26px;
        margin-right: 0.1em;
    }
    #download_app_section .rating_textual_block p{
        font-size: 16px;
    }

    #download_app_section {
        margin-top: 0em;
    }
    #download_app_section .download_textual_block {
        margin-top: 0em;
        text-align: center;
        padding-left: 1em;
    }
    #download_app_section .download_textual_block h1,
    #download_app_section .download_textual_block .rating_block,
    #download_app_section .download_textual_block .rating_textual_block,
    #download_app_section .download_textual_block .rating_textual_block p.rating_txt{
        text-align: center;
    }
    #download_app_section .download_app_form {
        margin: 1.5em 0 3em;
    }

    #download_app_section .download_app_form input{
        width: 180px;
        display: inline-block;
    }
    #download_app_section .download_app_form .app_link_btn{
        margin-top: -0.5px;
    }

    #download_app_section .download_img_block img {
        margin: 0 auto;
        width: 50%;
    }

    #download_app_section .download_img_block img.playstore_logo {
        margin: 5em auto 2em;
    }

    #download_app_section .download_textual_block h1 {
        font-size: 32px;
    }

    #download_app_section .rating_textual_block h3 {
        font-size: 26px;
        margin-right: 0.6em;
        margin-bottom: 4px;
    }
    #download_app_section .rating_textual_block p{
        font-size: 16px;
    }

    footer .container {
        padding: 2em 0 2em;
    }

    footer .footer_textual_block h5 {
        font-size: 16px;
    }

    footer .footer_textual_block p {
        font-size: 12px;
    }

    #copyright-and-disclaimer-section .copyright_and_disclaimer_block p{
        padding: 0 1em;
    }

    #copyright-and-disclaimer-section .copyright_and_disclaimer_block p.dis{
        margin-top: 10px;
    }

    #copyright-and-disclaimer-section .copyright_and_disclaimer_block{
        padding: 1em 0 2em;
    }

    #privacy-section p{
        font-size: 12px;
    }

    #privacy-section ol,
    #privacy-section ul{
        padding-left: 4em;
    }

    #privacy-section ol ol,
    #privacy-section ul ul{
        padding: 0 2em 0 2em;
    }

    #privacy-section ol ol li,
    #privacy-section ul ul li{
        margin: 1em auto;
    }

    #privacy-section ol p,
    #privacy-section ul p{
        padding-right: 2em;
    }

    .input_form_block,
    .lm_address_block{
        clear: both;
        overflow: hidden;
    }

    .lm_send_btn{
        float: none;
        margin: 2em auto;
        display: block;
    }

    .lm_address_block{
        margin-top: 0;
    }

    #privacy-section h3{
        margin: 1em auto;
    }

    #terms-section ol{
        padding-left: 1em;
    }


    #terms-section p,
    #terms-section ol,
    #terms-section ol li,
    #terms-section ol p{
        font-size: 12px;
        line-height: 1.6;
        /*background-color: pink;*/
    }


    /*.emi_calculator_block,
    .borrower_loan_form_block {
        border: none;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(204, 204, 204);
        margin-top: 1.5em;
        margin-bottom: 2em;
        padding: 0;
        background-color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 0px;
        border-top: none;
    }*/

    .get_loan_text_block h1,
    .investor_text_block h1{
        font-size: 24px;
    }

    .get_loan_text_block h4,
    .investor_text_block h4{
        font-size: 14px;
    }

    .center-title.gen_que{
        margin-top: 2.5em !important;
        margin-bottom: 0.5em !important;
    }

    .faq-box h4 {
        font-size: 18px !important;
    }

    .faq-box p{
        font-size: 14px !important;
    }

    .center-title h2{
        font-size: 24px !important;
        letter-spacing: 0 !important;
    }

    .emi_calculator_block,
    .borrower_loan_form_block {
        margin-top: 0em;
        margin-bottom: 1em;
    }

    #team_block p{
        padding-bottom: 2em;
    }

    #counter h2{
        font-size: 18px
        margin-bottom: 0;
    }

    #counter h3{
        font-size: 16px;
        margin-top: 8px;
    }

    .mission_block a {
        width: 54%;
    }
    .mission_btn_block .apply_btn {
        margin: 0.5em auto 3em;
    }

    .values_block h3, 
    .mission_block h3, 
    .vision_block h3 {
        font-size: 20px;
    }

}

@media only screen and (max-width : 375px) {
    #product-video-section .product_video_image_block.visible-xs iframe.small_src {
        width: 338px;
        height: 192px;
    }
    #product-video-section .product_video_textual_block {
        padding-left: 1em;
        margin-top: 17em;
    }

    #privacy-section ol p, #privacy-section ul p {
        padding-right: 2em;
        padding-left: 1em;
    }

    /*#privacy-section p{
        font-size: 12px;
    }*/

    /*.emi_calculator_block,
    .borrower_loan_form_block {
        margin-top: 0em;
        margin-bottom: 1em;
    }*/
}

@media only screen and (max-width : 360px) {

    #product-section h1, 
    #features-section h1, 
    #product-video-section h1, 
    #invest-with-us-section h1, 
    #testimonial-section h1, 
    #testimonial-section-singleItem h1, 
    #newsfeeds-section h1, #cashCreditLineContentSection h1, 
    #cashCreditLineHIWSection h1, 
    #cashCreditLineFeaturesSection h1, 
    #cashCreditLineBenefitsSection h1, 
    #cashCreditLineEligibilitySection h1, 
    #cashCreditLineDocsRequiredSection h1, 
    #cashCreditLineFormSection h1 {
        font-size: 22px;
        margin-bottom: 1em;
    }
    #banner-section .banner_textual_block h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    #banner-section .banner_textual_block p {
        font-size: 14px;
    }
    

    header#loanmeet-header .navbar-header .navbar-toggle {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    header#loanmeet-header .navbar-header button span {
        width: 24px;
        height: 3px;
    }
    header#loanmeet-header .navbar-header .navbar-brand {
        width: 74%;
    }
    header#loanmeet-header .navbar-header .navbar-brand img {
        width: 84%;
    }

    #banner-section .banner_btn_block .apply_btn, 
    #banner-section .banner_btn_block .know_more_btn, 
    #cashCreditLineFormSection .form_btn_block .apply_btn, 
    #cashCreditLineFormSection .form_btn_block .reach_us_btn{
        padding: 0.7em 1em;
        width: 140px;
    }


    #product-video-section .product_video_image_block.visible-xs iframe.small_src {
        width: 324px;
        height: 184px;;
    }

    #product-video-section .product_video_textual_block {
        padding-left: 1em;
        margin-top: 14em;
    }

    #product-video-section .app_flow_steps_block h5, 
    #features-section .indv_feature_text h5, 
    #invest-with-us-section .indv_reason_block h4 {
        font-size: 16px;
    }

    #product-video-section .app_flow_steps_block p.small, 
    #features-section .indv_feature_text p.small, 
    #invest-with-us-section .indv_reason_block p {
        font-size: 14px;
    }

    #product-video-section .line {
        height: 44px;
    }

    #product-video-section #line1.line {
        top: 42px;
        left: 11.5px;
    }

    #product-video-section #line2.line {
        top: 105px;
        left: 11.5px;
    }

    #product-video-section #line3.line {
        top: 168px;
        left: 11.5px;
    } 

    #privacy-section ol p, #privacy-section ul p {
        padding-right: 2em;
        padding-left: 1em;
    }

    /*#privacy-section p{
        font-size: 12px;
    }*/

    /*.emi_calculator_block,
    .borrower_loan_form_block {
        margin-top: 0em;
        margin-bottom: 1em;
    }*/
}

@media only screen and (max-width : 320px) {
    #banner-section .banner_btn_block .apply_btn, 
    #banner-section .banner_btn_block .know_more_btn, 
    #cashCreditLineFormSection .form_btn_block .apply_btn, 
    #cashCreditLineFormSection .form_btn_block .reach_us_btn {
        padding: 0.7em 1em;
        width: 130px;
        font-size: 12px;
    }

    #product-video-section .product_video_image_block.visible-xs iframe.small_src {
        width: 286px;
        height: 162px;
    }

    #product-video-section .app_flow_steps_block h5, 
    #features-section .indv_feature_text h5, 
    #invest-with-us-section .indv_reason_block h4 {
        font-size: 14px;
    }

    #product-video-section .app_flow_steps_block p.small, 
    #features-section .indv_feature_text p.small, 
    #invest-with-us-section .indv_reason_block p {
        font-size: 12px;
    }

    #product-video-section .line {
        height: 36px;
    }

    #product-video-section #line1.line {
        top: 40px;
        left: 11.5px;
    }

    #product-video-section #line2.line {
        top: 98px;
        left: 11.5px;
    }

    #product-video-section #line3.line {
        top: 158px;
        left: 11.5px;
    }
    #download_app_section .download_app_form .app_link_btn{
        margin-top: -1px;
    }

    #download_app_section .download_img_block img.playstore_logo {
        margin: 3.5em auto 2em;
    }
        #copyright-and-disclaimer-section .copyright_and_disclaimer_block p {
        font-size: 10px;
    }

    #cashCreditLineEligibilitySection, 
    #cashCreditLineDocsRequiredSection {
        padding-bottom: 1em;
    }
    .eligitbility_text_block {
        margin-top: 2em;
        text-align: center;
    }

    .eligitbility_text_block h4 {
        font-size: 14px;
        font-weight: bold;
    }

    /*#privacy-section p{
        font-size: 12px;
    }

    #privacy-section ol ol,
    #privacy-section ul ul{
        padding: 0 2em 0 1em;
    }

    #privacy-section ol ol li,
    #privacy-section ul ul li{
        margin: 1em auto;
    }

    #privacy-section ol p,
    #privacy-section ul p{
        padding-right: 2em;
    }*/


    .emi_calculator_block,
    .borrower_loan_form_block,
    .investor_form_block {
        margin-top: 0em;
        margin-bottom: 1em;
    }

    .faq-box h4 {
        font-size: 16px !important;
    }

    .faq-box p{
        font-size: 12px !important;
    }

    /*.center-title h2{
        font-size: 20px !important;
        letter-spacing: 0 !important;
    }*/

    .mission_block a {
        width: 82%;
    }
}