html,
body {    
    /*height:100vh;*/
    /*width:100vw;*/
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
}

body {
    font-family: 'Lato', sans-serif;
}

:root {
  font-size: 16px;
}

.p-init{
    padding: 0px !important;
}

.m-init{
    margin: 0px !important;
}

.hide_from_screen{
    visibility: hidden;
}

label.error{
    font-size: 0.5rem;
    color: red;
    margin-top: 4px;
    word-spacing: 1px;
}


/*Nav*/

#loanmeet-header .navbar{
    margin-bottom: 0;
}

#myNavbar li a {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
}

#myNavbar li a:hover{
    background-color: transparent;
}

/*Banner Block css*/

/*#trapezoid {
    border-bottom: 90vh solid red;
    border-left: 52vw solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 85%;
    float: right;
    position: relative;
}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 12vw solid #fff;
    border-left: 24vh solid transparent;
    position: absolute;
    right: 45em;
    top: 10em;
    -ms-transform: rotate(4.5deg);
    -webkit-transform: rotate(4.5deg);
    transform: rotate(4.5deg);
}*/

#loanmeet_banner_section{
    max-height: 100vh;
}

.bg_block.banner{
    position: absolute;
    /*max-height: 100vh;*/
    /*clear: both;
    overflow: hidden;*/
}

.bg_block .banner_img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.bg_block .carousel-caption{
    width: 35%;
    position: absolute;
    /*right: 40em;*/
    bottom: 0em;
    left: 49em;
    text-shadow: none; 
    /*background-color: red;*/
}

.bg_block .carousel-caption h4{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #2d68a3;
}

.bg_block .carousel-caption p{
    margin-left: 3.5em;
    margin-bottom: 0px;
    color: #2d68a3;
    font-size: 16px;
}

.bg_block .carousel-caption p.user_type{
    font-weight: lighter;
}

.bg_block .carousel-indicators{
    left: 67em;
    bottom: 0em;
}

.bg_block .carousel-indicators li{
    width: 14px;
    height: 14px;
    margin: 4px;
    border: 1px solid #2d68a3;
}

.carousel-indicators .active{
    width: 14px;
    height: 14px;
    background-color: #2d68a3;
}

.banner_text_block{
    position: absolute;
    top: 15em;
    left: 7em;
}

.banner_text_block h1{
    color: #1568a3;
    font-size: 2.1em;
    margin-bottom: 0;
}

.banner_text_block h3{
    color: #283e56;
    font-size: 1.4em;
    margin-top: 0.4em;
}

.apply_btn a{
    padding: 0.9em 2.4em;
    background-color: #5dcab7;
    float: right;
    color: #ffffff;
}
/*.bg_block.banner,
.bg_block.why_loanmeet{
    background: url(../img/svg/landing_page_slider.svg) no-repeat top left;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.bg_block.why_loanmeet{
    background: url(../img/svg/why_loanmeet.svg) no-repeat top right;
}*/
.why_loanmeet_block{
    background: url(../img/svg/bg2.svg) no-repeat top left;
    background-size: cover;
    width: 100vw;
    position: relative;
}

.why_loanmeet_text_block{
    position: absolute;
    right: 3em;
    top: 18em;
}




/*Products*/

.section_title {
    color: #16a6df;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    right: 42%;
    z-index: 1;
    text-align: center;
    left: 42%;
}

#products{
    position: relative;
}

.product_bg1{
    position: absolute;
    top: 0px;
    right: 0px;
}

.product_bg2{
    position: absolute;
    bottom: -14em;
    left:  0px;
}

.individual_product{
    margin-bottom: 8em;
}

.individual_product:first-child{
    margin-top: 12em;
}

.individual_product:last-child{
    margin-bottom: 0; 
}

.indv_prod_img,
.indv_prod_text{
    padding-left: 4em;
}

.indv_prod_text h4{
    color: #16a6df;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;
}

.indv_prod_text p.credit_tenure,
p.prod_desc{
    margin-bottom: 1em;
    color: #283e56;
}

.indv_prod_text p.credit_limit{
    margin-bottom: 3em;
    color: #283e56;
}

.credit_tenure span,
.credit_limit span{
    color: #16a6df;
    font-size: 16px;
    font-weight: bold;
    padding-left: 0.5em;
}

.get_loan_btn a{
    padding: 0.9em 2.4em;
    background-color: #5dcab7;
    color: #ffffff;
    cursor: pointer;
}








/*Documents*/

.documents img{
    margin: 0 auto;
}




/*Rating*/
.rating_block li{
    display: inline-block;
}